body {
    background-image: url("/images/sky.jpg");
}

.title {
    color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    font-size: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 700;
    font-style: italic;
}

.forecast {
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 300px;
    margin-left: 100px;
    margin-right: 100px;
}

.forecast--unlist {
    list-style: none;
}

.forecast--unlist li {
    color: #ffffff;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}