body {
    background-image: url("/images/sky.jpg");
}

.title {
    color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    font-size: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 700;
    font-style: italic;
}

.forecast {
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0;
}

.forecast--list {
    list-style: none;
}